<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1109956378-098hc52cembufih4hqkb3hbe8t7aiaps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1109956378-098hc52cembufih4hqkb3hbe8t7aiaps</string>
	<key>API_KEY</key>
	<string>AIzaSyADLDG61dqzTKabpO-ZUxVJngnBqLmdaFk</string>
	<key>GCM_SENDER_ID</key>
	<string>1109956378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>halonsoluis.Marvel-Characters</string>
	<key>PROJECT_ID</key>
	<string>marvel-characters-1b4c4</string>
	<key>STORAGE_BUCKET</key>
	<string>marvel-characters-1b4c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1109956378:ios:b7641808d1225b28</string>
	<key>DATABASE_URL</key>
	<string>https://marvel-characters-1b4c4.firebaseio.com</string>
</dict>
</plist>